body{
    width: 100em;
    border: solid;
    display: flex;
    justify-content: center;
}
#picture{
    width: 6em;
    height: 6em;
    border-radius: 3em;
    box-shadow: 0EM 0EM 1EM 0EM aliceblue;
    cursor: zoom-in;
}
a{
    display: flex;
    justify-content: center;
    color: white;
}
#style{
    display: flex;
    
}
#body{
    background: #782221;
    width: 1160px;
    height: 82em;
}
.address{
    background: #2c1d27;
}
address{
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    font-family: "lato", sans-serif;
}
.post{
    display: flex;
    justify-content: center;
    color: white;
    font-family: "lato", sans-serif;
}
h2{
    display: flex;
    justify-content: center;
    color: white;
    font-family: "lato", sans-serif;
}
nav{
    padding-top: 1em;
}
.discription{
    text-indent: 2em;
    text-align: justify;
    width: 18em;
    color: white;
    padding-left: 1em;
    font-family: "raleway", sans-serif;
}
h3{
    color: black;
    background-color: #dbc2a4;
    width: 15em;
    padding-left: 1em;
    font-family: "lato", sans-serif;
}
#leisure{
    color: white;
    padding-left: 2em;
}
#leisure-1{
    color: white;
    padding-left: 2em;
}
header nav div address p a:hover{
    color: crimson;
}
section{
    display: flex;
    align-items: flex-start;
    width: 1154px;
    height: 58em;
    border-right: solid;
}
.div-1{
    width: 22em;

}
.div-2{
    background-color: white;
    width: 50em;
    height: 58em;
    padding-left: 1em;
}
h4{
    background-color: #dbc2a4;
    width: 30em;
    padding-left: 4px;
    font-family: "lato", sans-serif;

}

main section div h4:hover{
    border-left: 1em solid #782221 ;

}

.liens{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-left: 31em;
    width: 10EM;
}

#compte-1{
    width: 2em;
    height: 2em;

}

#compte-2{
    width: 2em;
    height: 2em;

}

#compte-3{
    width: 2em;
    height: 2em;

}

small{
    color: white;
    display: flex;
    justify-content: center;
    
}

footer div a:hover{
    opacity: 0.4;

} 
ul {
    font-family: "raleway", sans-serif;
}
p {
    font-family: "lato", sans-serif;
}