main section div h4:hover{
    border-left: 1em solid #782221 ;

}
.liens{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
    padding-left: 31em;
    width: 10EM;
}
#compte-1{
    width: 2em;
    height: 2em;

}
#compte-2{
    width: 2em;
    height: 2em;

}
#compte-3{
    width: 2em;
    height: 2em;

}

small{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}
footer div a:hover{
    opacity: 0.4;

} 