@import url('https://fonts.googleapis.com/css2? family= Lato:ital,wght@1,700 & display=swap');

@font-face {
    font-family: "raleway";
    src: url('../font/Raleway-MediumItalic.woff');
    src: url('../font/Raleway-MediumItalic.ttf') format('truetype'),
    url('../font/Raleway-MediumItalic.otf.otf') format('opentype');
}